<aside class="layout-sidebar">
    <div class="sidebar-logo">
        <h1>WaveIT</h1>
    </div>

    <div class="sidebar-menu">
        <p-panelMenu [model]="items" [multiple]="true"></p-panelMenu>
    </div>
    <div class="sidebar-footer">
        <div class="user-info">
            <p-avatar icon="pi pi-user" size="large" shape="circle" styleClass="custom-avatar"></p-avatar>
            <span class="user-name">Illia Melnyk</span>
        </div>

        <div class="user-actions">
            <button pButton icon="pi pi-cog" class="p-button-rounded p-button-text action-btn"></button>
            <button pButton icon="pi pi-sign-out" class="p-button-rounded p-button-text action-btn"></button>
        </div>
    </div>
</aside>