$sidebar-bg: #ffffff;
$body-bg: #f5f7fa;
$primary-blue: #007bff;
$text-color: #333;
$border-color: #e0e0e0;
$sidebar-width: 300px;
$focus-bg-color: #475569;
$focus-text-color: #ffffff;

.layout-sidebar {
    min-height: 100%;
    width: $sidebar-width;
    background-color: $sidebar-bg;
    border-right: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .sidebar-logo {
        height: 70px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        border-bottom: 1px solid transparent;

        h1 {
            font-size: 28px;
            font-weight: 500;
            margin: 0;
        }
    }

    .sidebar-menu {
        flex: 1;
        overflow-y: auto;

        ::ng-deep .p-panelmenu {
            .p-panelmenu-item.p-focus>.p-panelmenu-item-content,
            .p-panelmenu-item.p-focus>.p-panelmenu-item-link {

                background-color: #475569 !important;

                box-shadow: none !important;
                outline: none !important;

                color: #ffffff !important;

                .p-menuitem-text,
                .p-menuitem-icon {
                    color: #ffffff !important;
                }
            }

            .p-panelmenu-item:not(.p-disabled)>.p-panelmenu-item-content:hover {
                background-color: transparent !important;
            }

            .p-panelmenu-panel {
                background-color: transparent;
                border: none;
                margin-bottom: 0;
            }

            .p-panelmenu-header-link {
                background: transparent;
                border: none;
                transition: all 0.2s;
                color: black;

                .p-menuitem-text,
                .p-menuitem-icon,
                .p-panelmenu-icon {
                    color: #333;
                }

                &:hover {
                    background-color: #e2e8f0;

                    .p-menuitem-text,
                    .p-menuitem-icon,
                    .p-panelmenu-icon {
                        color: #ffffff !important;
                    }
                }

            }

            .p-panelmenu-content {
                background: transparent;
                border: none;
                padding: 0;

                &:hover {
                    background-color: transparent;
                }

                .p-panelmenu-item-link {
                    background: transparent;
                    transition: all 0.2s;
                    margin: 2px 10px;
                    border-radius: 4px;
                    color: black;

                    &:hover {
                        background-color: #475569;
                        color: #ffffff !important;
                    }
                    &:focus,
                    &:active {
                        background-color: $focus-bg-color !important;
                        color: #fff !important;
                    }
                }
            }
        }
    }
}