<div class="sidebar">
    <nav>
        <ul class="sidebar-links">
            <li *ngFor="let item of items; let i = index; trackBy: trackByFn" 
                class="sidebar-item">
                
                <a *ngIf="!item.children" 
                   [routerLink]="item.route" 
                   routerLinkActive="active"
                   matTooltip="{{item.tooltip}}" 
                   matTooltipPosition="right"
                   class="sidebar-link">
                    <mat-icon class="sidebar-icon">{{item.icon}}</mat-icon>
                </a>

                <ng-container *ngIf="item.children">
                    <a [matMenuTriggerFor]="dynamicMenu"
                       [ngClass]="{'active': isParentActive(item)}"
                       class="sidebar-link dropdown-trigger"
                       (click)="onMenuItemClick($event, item)"
                       #menuTrigger="matMenuTrigger">
                        <mat-icon class="sidebar-icon">{{item.icon}}</mat-icon>
                    </a>

                    <mat-menu #dynamicMenu="matMenu" 
                              class="sidebar-dropdown"
                              xPosition="after"
                              yPosition="below"
                              [overlapTrigger]="false">
                        <ng-container *ngFor="let child of item.children; trackBy: trackByChildFn">
                            <button *ngIf="child.route" 
                                    mat-menu-item 
                                    [routerLink]="child.route"
                                    routerLinkActive="active-menu-item"
                                    class="dropdown-menu-item">
                                <mat-icon *ngIf="child.icon" class="menu-item-icon">
                                    {{child.icon}}
                                </mat-icon>
                                <span class="menu-item-text">{{child.title}}</span>
                            </button>

                            <button *ngIf="!child.route" 
                                    mat-menu-item 
                                    class="dropdown-menu-item action-item"
                                    (click)="onChildItemClick(child, item)">
                                <mat-icon *ngIf="child.icon" class="menu-item-icon">
                                    {{child.icon}}
                                </mat-icon>
                                <span class="menu-item-text">{{child.title}}</span>
                            </button>
                        </ng-container>
                        
                        <mat-divider *ngIf="item.children && item.children.length > 3"></mat-divider>
                    </mat-menu>
                </ng-container>
            </li>
        </ul>
    </nav>
</div>