$primary-orange: #f97316;
$bg-color: #f8f9fa;
$card-bg: #ffffff;
$text-color: #333;
$text-muted: #64748b;
$border-radius: 20px;

.sidebar-card,
.content-card {
  background: $card-bg;
  border-radius: $border-radius;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
  padding: 30px;
}

.sidebar-card-footer {
  display: flex;
  flex-shrink: 0;
  margin-top: auto;
  justify-content: end;
  gap: 20px;
}

.sidebar-card {
  .steps-nav-header {
    display: flex;
    align-items: start;
    justify-content: start;
    margin-bottom: 40px;
  }
  display: flex;
  flex-direction: column;

  .user-preview {
    text-align: center;
    margin-bottom: 40px;

    .avatar-container {
      position: relative;
      display: inline-block;
      margin-bottom: 15px;

      ::ng-deep .custom-avatar {
        background-color: #e2e8f0;
        color: #64748b;
        width: 200px;
        height: 200px;

        .p-avatar-icon {
          align-items: center;
          align-content: center;
          justify-content: center;
          text-align: center;
          display: flex;
          font-size: 80px;
        }
      }

      .edit-badge {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $primary-orange;
        color: white;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 14px;
      }
    }

    h3 {
      margin: 0;
      font-size: 18px;
      font-weight: 700;
      color: $text-color;
    }

    .role-text {
      font-size: 14px;
      color: $text-muted;
    }
  }

  .steps-nav {
    width: 100%;

    .step-item {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 12px 20px;
      color: $text-muted;
      font-weight: 500;
      cursor: pointer;
      border-radius: 10px;
      margin-bottom: 5px;
      transition: all 0.2s;

      i {
        font-size: 18px;
      }

      &:hover {
        background-color: #f1f5f9;
      }

      &.active {
        background-color: #fff1e6;
        color: $primary-orange;
        font-weight: 600;
      }
    }
  }
}
