<div class="login-page">
    <h1 class="registration-form-title">Registration Form</h1>
    <div class="sidebar-card">
        <div class="steps-nav-header">
            <button pButton icon="pi pi-arrow-left"></button>
        </div>
        <div class="user-preview">
            <div class="avatar-container">
                <p-avatar icon="pi pi-user" size="xlarge" shape="circle" styleClass="custom-avatar"></p-avatar>
                <div class="edit-badge"><i class="pi pi-pencil"></i></div>
            </div>
            <h3>{{ loginForm.get('firstName')?.value || 'New' }} {{ loginForm.get('lastName')?.value ||
                'User' }}</h3>
        </div>
    </div>
</div>
<cons-toaster-notification></cons-toaster-notification>