<div class="modal-dialog" [ngClass]="customClass">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Modal</h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="close()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ng-content select="[modal-body]"></ng-content>
        </div>
        <div class="modal-footer">
            <ng-content select="[modal-footer]"></ng-content>
        </div>
    </div>
</div>