<div class="coaches-container">
    <div class="coaches-filters">
        <button class="coaches-filter">
            <mat-icon>filter_alt</mat-icon>
        </button>
        <div class="coaches-list-section">
            <mat-button-toggle-group>
                <mat-button-toggle value="expanded">
                    <mat-icon>view_module</mat-icon>
                    <span>Expanded</span>
                </mat-button-toggle>
                <mat-button-toggle value="compact">
                    <mat-icon>view_list</mat-icon>
                    <span>Compact</span>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
    <div class="coaches-list">
        <div class="coaches-list-expanded" *ngIf="isExpandedView"></div>
        <mat-list class="coaches-list-compact" *ngIf="!isExpandedView"></mat-list>
    </div>
</div>