<div class="dashboard-container">
    <div class="edit-dashboard-container">
    <button mat-icon-button class="edit-dashboard-button">
        <mat-icon>edit_square</mat-icon>
    </button>
    </div>
    <div class="section-container">
        <mat-card class="section">
            <div class="section-header">
                <h2>Recent Consultations</h2>
                <a class="outward-button" [routerLink]="['/consultations-list']">
                    <mat-icon>arrow_outward</mat-icon>
                </a>
            </div>

            <mat-list *ngIf="recentConsultations.length > 0">
                <mat-list-item *ngFor="let recentConsultation of recentConsultations">
                    
                </mat-list-item>
            </mat-list>
            <h4 *ngIf="recentConsultations.length === 0">No recent consultations were added!</h4>
        </mat-card>
        <mat-card class="section">
            <div class="section-header">
                <h2>We recommend you</h2>
                <button mat-icon-button class="outward-button">
                    <mat-icon>arrow_outward</mat-icon>
                </button>
            </div>
        </mat-card>
        <mat-card class="section">
            <h2>Calendar</h2>

            <mat-list *ngIf="recentConsultations.length > 0">
                <mat-list-item *ngFor="let recentConsultation of recentConsultations">
                    
                </mat-list-item>
            </mat-list>
            <h4 *ngIf="recentConsultations.length === 0">No recent consultations were added!</h4>
        </mat-card>
        <mat-card class="section">
            <h2>Hot Events</h2>
        </mat-card>
        <mat-card class="section">
            <h2>Your achievements</h2>
            <cons-personalized-achievements></cons-personalized-achievements>
        </mat-card>
        <mat-card class="section">
            <h2>News</h2>
        </mat-card>
        <mat-card class="section">
            <h2>Your recent notes</h2>
            <cons-recent-notes></cons-recent-notes>
        </mat-card>
        <mat-card class="section">
            <h2>Messages</h2>
            
        </mat-card>
    </div>
</div>