<div class="landing-page-container">
    <!-- Header -->
    <cons-landing-header></cons-landing-header>
    <!-- Hero section -->
    <cons-hero-section></cons-hero-section>
    <!-- Info section -->
    <cons-info-section></cons-info-section>
    <!-- CTA section -->
    <cons-cta-landing-section></cons-cta-landing-section>
    <!-- Partners section -->
    <cons-partners-block></cons-partners-block>
    <!-- Use cases section -->
    <cons-use-cases-section></cons-use-cases-section>
    <!-- Categories section -->
    <cons-categories-section></cons-categories-section>
    <!-- Experts section -->
    <cons-experts-section></cons-experts-section>
    <!-- Roadmap section -->
    <cons-roadmap-section></cons-roadmap-section>
    <!-- Why Us section -->
    <cons-why-us-section></cons-why-us-section>
    <!-- Coach CTA section -->
    <cons-coach-cta-section></cons-coach-cta-section>
    <!-- Feedback section -->
    <cons-feedback-section></cons-feedback-section>
    <!-- FAQ section -->
    <cons-faq-section></cons-faq-section>
</div>
