.calendar-container {
    margin: 24px;
    margin-left: 48px;
    margin-right: 48px;
}

.working-hours {
    background-color: rgba(0, 255, 0, 0.1);
}

.non-working-hours {
    background-color: rgba(255, 0, 0, 0.1);
}

.weekend-header {
    color: red;
    font-weight: bold;
}

.today-header {
    background-color: green;
    font-weight: bold;
}