:root {
  --surface-ground: #f8f9fa;
  --surface-card: #ffffff;
  --surface-border: #dee2e6;
  --text-color: #495057;
  
  --app-bg: #f8f9fa;
}

.dark-mode {
  --surface-ground: #121212;
  --surface-card: #1e1e1e;
  --surface-border: #383838;
  --text-color: rgba(255, 255, 255, 0.87);
  
  --app-bg: #121212;
}