<!--<cons-modal-window>
    <div modal-body class="time-modal-body">
        <button class="btn btn-primary btn-time">Example</button>
        <button class="btn btn-primary btn-time">Example</button>
        <button class="btn btn-primary btn-time">Example</button>
        <button class="btn btn-primary btn-time">Example</button>
        <button class="btn btn-primary btn-time">Example</button>
        <button class="btn btn-primary btn-time">Example</button>
    </div>
</cons-modal-window> -->