<div class="toaster-container" [class.hasNotifications]="allNotifications.length > 0">
  <div class="notifications-wrapper">
    <ng-container *ngFor="let stack of notificationStacks | keyvalue; trackBy: trackByType">
      <div class="grouped-stack" *ngIf="stack.value && stack.value.length > 0">
        <div *ngFor="let notification of stack.value; trackBy: trackById"
          class="notification-item grouped-notification-item" [class]="'notification-' + notification.type"
          (mouseenter)="pauseProgress(notification)" (mouseleave)="resumeProgress(notification)">
          <div class="notification-content">
            <div class="notification-header">
              <div class="notification-header-left">
                <h2 class="notification-title">{{ notification.title }}</h2>
              </div>
              <div class="notification-header-right">
                <label class="notification-count" *ngIf="stack.value.length > 1">
                  {{ stack.value.length }}
                </label>
                <button class="notification-close-btn" (click)="closeNotification(notification.id, $event)">
                </button>
              </div>
            </div>
            <div>
              <span class="notification-message">
                {{ notification.message }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>