$sidebar-width: 300px;

.layout-wrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.main-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.fixed-sidebar {
  height: 100%;
  flex-shrink: 0;
}

.cons-header {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  justify-content: flex-start;

  background: var(--header-bg);
  border-bottom: 1px solid #e0e0e0;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  position: relative;
  margin-left: $sidebar-width; 
  width: calc(100% - #{$sidebar-width});
}

.cons-footer {
  flex-shrink: 0;
}