/* Основний контейнер */
.layout-wrapper {
    display: flex;
    min-height: 100vh;
    width: 100%;
    overflow: hidden; /* Щоб уникнути подвійних скролів */
}

/* Права колонка (Хедер + Контент) */
.main-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0; /* Важливо для flexbox, щоб контент не розпирав контейнер */
}

.cons-header {
    height: 70px;
    display: flex;
    align-items: center; 
    padding: 0 30px;
    justify-content: flex-start; 
    
    background: var(--header-bg);
    border-bottom: 1px solid #e0e0e0;
}

.main-content {
    flex: 1; 
    overflow-y: auto;
}