:root {
    --background-overlay: rgba(0, 0, 0, 0.1);
    --background-blend: multiply;
    --text-color: #333333;
    --text-secondary: #666666;
    
    --header-bg: rgba(240, 245, 250, 0.4);
    --header-border: rgba(0, 0, 0, 0.1);
    --button-color: rgb(114, 114, 114);
    --button-hover-bg: rgb(34, 151, 219);
    --button-hover-color: white;
  }
  
  body.dark-theme {
    --background-overlay: rgba(0, 0, 0, 0.8); 
    --text-color: rgb(114, 114, 114);
    --text-secondary: #cccccc;
    --header-bg: rgba(20, 25, 30, 0.7);
    --header-border: rgba(255, 255, 255, 0.1);
    --button-color: rgb(200, 200, 200);
  }

  .cons-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .background {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease;

    background-attachment: fixed;
    
    background: #333333;
    background-blend-mode: multiply;
    color: #333333;
    
    &.dark-theme {
        background: rgb(49, 49, 49);
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: #ffffff;
      }
      
      &.light-theme {
        background: #ffffff;
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: #333333;
      }
  }

.cons-footer {
  flex: 1;
}

.layout {
  min-height: 100vh;
  padding-bottom: 4em;
}

.main-content {
  flex: 1;
  margin: 0 24px;
}

@media (max-width: 768px) {
  .main-content {
    margin: 0;
  }
}