<div class="container">
    <form class="form">
        <div class="form-group form-section">
            <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <input matInput>
                <mat-error *ngIf="hasError('firstName', 'required')">
                    First name is required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Birth date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input matInput type="text" placeholder="City" [formControl]="cityControl" [matAutocomplete]="auto">
                <mat-progress-spinner *ngIf="isLoading" matSuffix diameter="20"
                    mode="indeterminate"></mat-progress-spinner>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let city of filteredCities | async" [value]="city">
                        {{ city }}
                    </mat-option>
                    <mat-option *ngIf="(filteredCities | async)?.length === 0">No cities found</mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Male</mat-radio-button>
                <mat-radio-button value="2">Female</mat-radio-button>
                <mat-radio-button value="3">Other</mat-radio-button>
            </mat-radio-group>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Email">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Username">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Password">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Confirm password">
            </mat-form-field>
        </div>
        <div class="photo-upload form-section">
            <input type="file" (change)="onFileSelected($event)" accept="image/*">
        </div>
        <button mat-raised-button color="primary">Sign up</button>
    </form>
</div>
<cons-toaster-notification></cons-toaster-notification>