.title {
    text-align: center;
    font-weight: 600;
}

.radio-form {
    float: right;
}

.consultations-list-wrapper {
    border-radius: 4px;
    padding: 64px;
    background-color: rgb(250, 250, 250);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}