<div class="layout-wrapper">
  <main class="layout-main">
    <div class="layout-content">
      <div class="toolbar-container">
        <div class="toolbar-group">
          <p-selectButton [options]="userTypes" [(ngModel)]="selectedUserType" optionLabel="label" optionValue="value"
            styleClass="custom-select-button">
            <ng-template let-item pTemplate="item">
              <i [class]="item.icon" style="margin-right: 8px;"></i>
              <span>{{item.label}}</span>
            </ng-template>
          </p-selectButton>
        </div>

        <div class="toolbar-group search-group">
          <span class="p-input-icon-left w-100">
            <i class="pi pi-search"></i>
            <input type="text" pInputText [(ngModel)]="searchValue" placeholder="Search"
              class="w-100 custom-search-input" />
          </span>
        </div>

        <div class="toolbar-group actions-group">
          <button pButton icon="pi pi-sort-alt" class="p-button-outlined custom-btn-icon"></button>
          <button pButton label="Export" icon="pi pi-download" iconPos="right"
            class="p-button-outlined custom-btn"></button>
          <button pButton label="Filter" icon="pi pi-filter" class="p-button-outlined custom-btn"></button>
        </div>

      </div>
      <p-card header="Consultations List" styleClass="content-card">
        <p-table [value]="consultations" [paginator]="true" [rows]="10" [showCurrentPageReport]="false"
          responsiveLayout="scroll" styleClass="p-datatable-custom consultations-table">

          <ng-template pTemplate="header">
            <tr>
              <th style="width: 50px">#</th>
              <th style="width: 80px">Photo</th>
              <th>Full Name</th>
              <th>Position</th>
              <th>Company</th>
              <th>Topics</th>
              <th style="width: 280px"></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr>
              <td>{{ i + 1 }}</td>
              <td>
                <p-avatar icon="pi pi-user" styleClass="p-mr-2" shape="circle"
                  [style]="{'background-color': '#e2e8f0', 'color': '#ffffff'}" size="large">
                </p-avatar>
              </td>
              <td class="font-bold">{{ item.fullName }}</td>
              <td>{{ item.position }}</td>
              <td>{{ item.company }}</td>
              <td *ngFor="let topic of item.topics">
                <p-chip [removable]="false" label="{{ topic }}"></p-chip>
              </td>

              <td>
                <div class="action-buttons">
                  <button pButton label="Order Consultation" class="p-button-success order-btn">

                  </button>

                  <button pButton icon="pi pi-heart" class="p-button-outlined p-button-secondary icon-btn">
                  </button>

                  <button pButton icon="pi pi-github" class="p-button-outlined p-button-secondary icon-btn">
                  </button>

                  <button pButton icon="pi pi-linkedin" class="p-button-outlined p-button-secondary icon-btn">
                  </button>
                  <button pButton icon="pi pi-ellipsis-h" class="p-button-outlined p-button-secondary icon-btn">
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
  </main>
</div>

<cons-consultation-modal *ngIf="isBookingModalOpen" [model]="selectedConsultation" [isOpen]="isBookingModalOpen"
  (close)="onCloseBookingModal()">
</cons-consultation-modal>