.mat-mdc-card {
    border-radius: 12px !important;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1) !important;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: var(--mdc-menu-container-color) !important;
    backdrop-filter: blur(10px);
    padding: 24px;
}

@media (max-width: 768px) {
    .mat-mdc-card {
        background: none !important;
        box-shadow: none !important;
        backdrop-filter: none !important;
        padding: 0;
        border: none;
    }
}