<cons-page-wrapper
    title="Consultations List"
    [viewOptions]="userTypes"
    [(selectedViewOption)]="selectedUserType"
    [(searchValue)]="searchValue"
    [selectedItemsCount]="selectedConsultations.length"
    [exportMenuItems]="exportItems"
    [first]="first"
    [rows]="rows"
    [totalRecords]="consultations.length"
    [rowsPerPageOptions]="rowsOptions"
    (onPageChange)="onPageChange($event)">

        <p-table [value]="consultations | slice:first:(first + rows)" [(selection)]="selectedConsultations" dataKey="fullName" [paginator]="false"
          responsiveLayout="scroll" styleClass="p-datatable-custom consultations-table">

          <ng-template pTemplate="header">
            <tr>
              <th style="width: 4rem"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
              <th style="width: 80px">Photo</th>
              <th>Full Name</th>
              <th>Position</th>
              <th>Company</th>
              <th>Price per 50 min</th>
              <th>Topics</th>
              <th style="width: 280px"></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr>
              <td><p-tableCheckbox [value]="item"></p-tableCheckbox></td>
              <td>
                <p-avatar icon="pi pi-user" styleClass="p-mr-2" shape="circle"
                  [style]="{'background-color': '#e2e8f0', 'color': '#ffffff'}" size="large">
                </p-avatar>
              </td>
              <td class="font-bold">{{ item.fullName }}</td>
              <td>{{ item.position }}</td>
              <td>{{ item.company }}</td>
              <td class="font-bold">{{ item.price | currency }}</td>
              <td>
                <div class="topics-list">
                  <p-chip *ngFor="let topic of item.topics" [removable]="false" [label]="topic"></p-chip>
                </div>
              </td>

                <td>
                    <div class="action-buttons-column">
                        <div class="social-buttons-row">
                            <button pButton icon="pi pi-send" class="p-button-outlined p-button-secondary icon-btn"></button>
                            <button pButton icon="pi pi-heart" class="p-button-outlined p-button-secondary icon-btn"></button>
                            <button pButton icon="pi pi-github" class="p-button-outlined p-button-secondary icon-btn"></button>
                            <button pButton icon="pi pi-linkedin" class="p-button-outlined p-button-secondary icon-btn"></button>
                        </div>
                        <button pButton label="Book a consultation" class="order-btn"></button>
                    </div>
                </td>
            </tr>
          </ng-template>
        </p-table>

</cons-page-wrapper>

<cons-consultation-modal *ngIf="isBookingModalOpen" [model]="selectedConsultation" [isOpen]="isBookingModalOpen"
  (close)="onCloseBookingModal()">
</cons-consultation-modal>
