@import '../../../../styles/variables';

.icon-btn {
    width: 3rem;
    height: 3rem;
    padding: 0;
    justify-content: center;
    transition: all 0.2s ease;

    &:hover {
        background-color: rgba($primary-blue, 0.1) !important;
        border-color: $primary-blue !important;
        color: $primary-blue !important;
    }
}

.w-100 {
  width: 100%;
}

.topics-list {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.action-buttons-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: fit-content;
}

.social-buttons-row {
    display: flex;
    gap: 8px;
}

.order-btn {
    width: 100%;
    background-color: rgba($primary-blue, 0.1) !important;
    color: $primary-blue !important;
    border-color: transparent !important;

    &:enabled:hover {
        background-color: $primary-blue !important;
        color: #ffffff !important;
        border-color: $primary-blue !important;
    }
}

/* 4. Pagination (Showing 10) */
.pagination-control {
  display: flex;
  align-items: center;
  gap: 8px;

  .label {
    color: #666;
    font-size: 14px;
  }

  ::ng-deep .custom-dropdown {
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    height: 42px;
    align-items: center;

    .p-dropdown-label {
      padding: 10px;
    }
  }
}

.action-buttons {
    display: flex;
    gap: 10px;
}

::ng-deep {

    .consultations-table {
        .p-datatable-thead > tr > th {
            background-color: #ffffff !important;
            color: #000000 !important;
            border-bottom: 1px solid #e5e7eb !important;
        }

        .p-datatable-tbody > tr {
            > td {
                background-color: #ffffff !important;
                color: #000000 !important;
                border-bottom: 1px solid #e5e7eb !important;
            }

            &.p-highlight > td {
                background-color: #f1f5f9 !important;
            }
        }
    }

    .p-chip {
        background-color: rgba($primary-blue, 0.1) !important;
        color: $primary-blue !important;
        
        .p-chip-text {
            color: $primary-blue !important;
        }
    }
}
