@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker";
@import "primeicons/primeicons.css";
@import "styles/forms";

* {
    font-family: "Open Sans", sans-serif;
}

.layout-content {
    padding: 2rem;
}
