@use '@angular/material' as mat;
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "primeicons/primeicons.css";

@include mat.core();

* {
    font-family: "Open Sans", sans-serif;
}